    <nav>
        <ul>
            <li><strong>Fancy Gallery</strong></li>
        </ul>
        <ul>
            <li><a href="/">Mostrar Imágenes</a></li>
            <li><a href="/new-image">Añadir Imagen</a></li>
        </ul>
    </nav>