<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Image</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <!-- Carga el fichero partials/navbar.ejs -->
    <%- include('./partials/navbar') %>
    
    <h1>Add New Image</h1>
    <form class="container" action="/new-image" method="post">
        <label for="title">Título: </label>
        <input type="text" name="title" id="title">
        <label for="url">URL: </label>
        <input type="text" name="url" id="url">
        <input type="submit" value="Añadir Foto">
    </form>
    <% if (message) { %>
    <section>
        <p><%= message %></p>     
    </section>
    <%  } %>
</body>

</html>