<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

</head>

<body>
    <main>
        <section class="container grid">
            <!-- Generar tantos article como imágenes hay en la "base de datos"-->
            <% images.forEach(function(i) { %>
            <article>
                <p><%= i.title %></p>
                <img src="<%= i.url %>" alt="<%= i.title %>">
            </article>
            <%  }) %>
        </section>
    </main>
</body>

</html>